/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    position: fixed;
    width: 98%;
    top: 0px;
    left: px;
  }
  
  .navbar .logo i{
    font-size: 70px;
  }
  
  .icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 30px;
    margin-left: 30px;
  }
  
  .icons a:hover {
    color: #ccc;
  }
  
  .btn {
    background-color: #ff6600;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 20px !important;
  }
  
  
  .btn:hover {
    background-color: #ff8533;
  }
  
  #product_page{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 20px;
    text-align: center;
    margin-top: 100px;

  }

  
  .product-card {
    border: 1px solid #ccc;
    height: 320px;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  1px 1px 5px 1px rgba(0,0,0,0.5);
    
  }
  .product-card h3{
    font-size: 15px;
  }
  
  .product-card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  
  .product-card h3 {
    margin-top: 10px;
  }
  
  .product-card p {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
  }
  .product-card button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .product-card button:hover {
    background-color: #ff8533;
  }
  .product-card a{
    text-decoration: none;
  }
  